[
  {rabbit, [
   {auth_backends, [rabbit_auth_backend_oauth2, rabbit_auth_backend_internal]}
  ]},
  {rabbitmq_management, [
     {oauth_enabled, true},
     {oauth_client_id, "851f5449-1d45-4272-9c79-fe5f3e91a881"},
     {oauth_provider_url, "https://login.microsoftonline.com/5c49d76c-634c-4fac-b4f7-246924b7d243"}
 ]},
 {rabbitmq_auth_backend_oauth2, [
   {resource_server_id, <<"851f5449-1d45-4272-9c79-fe5f3e91a881">>},
   {extra_scopes_source, <<"roles">>},
   {key_config, [
     {jwks_url, <<"https://login.microsoftonline.com/5c49d76c-634c-4fac-b4f7-246924b7d243/discovery/v2.0/keys">>}
   ]}
 ]}
].
