[
  {rabbit, [
    {auth_backends, [rabbit_auth_backend_oauth2]}
  ]},
   {rabbitmq_management, [
     {oauth_enabled, true},
     {oauth_client_id, "O4hXbCJ73RSxyK88AKZ3aKFmACarVgGC"},
    % {oauth_client_secret, "7roKuoE3IOSzmRiBD6pNe01hYoudTNz3mzgNvi1aOvqXDkWvr719OAo4xVav5wnT"},
     {oauth_scopes, "rol_QitdDbzXjeNKnKM7"},
     {oauth_provider_url, "https://dev-akfzkkinmh0pq2b7.us.auth0.com"}
  ]},
  {rabbitmq_auth_backend_oauth2, [
    {resource_server_id, <<"rabbitmq">>},
    {extra_scopes_source, <<"permissions">>},
    {key_config, [
      {default_key, <<"MprbxM99bx9EcbBClYb1A">>},
      {signing_keys,
        #{<<"MprbxM99bx9EcbBClYb1A">> => {pem, <<"-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAusmtwcl4u5IDgOwxXN3Y
fkgsLoVC4dmdWc3wzJNEcjP8Wopc8oCF3s1RCgf2GwhRDf9eAi0RGT5F4lfUMZk6
kCmHUP9Ego3NX0u8KyZpB6DsqCVdcYxU31byIbEOtCeQeKoO3Q3jbjmVGLtbmVDh
vPcRqhHKBQkPbcHGyTHEdZV9ko35TnJaaGXTKzvQYDw49e36ZERlCa21DClmsEG5
N1wSDVj+5AzrAb8lB1EnExNtZE9tFyTyCIu7crgnfWw2PN9DMLR7qID7xtsMFX/I
+1kH3IPI/EP8VnQhH+Deu88m49u23EsAF7sg3IXRBU8bykGvA0/oL+BjDDHWIa3p
cQIDAQAB
-----END PUBLIC KEY-----">>}
         }
      }]
    }
  ]}
].
