[
  {rabbit, [{auth_backends, [rabbit_auth_backend_ldap]}]},
  {rabbitmq_auth_backend_ldap,
   [ {servers,               ["10.1.0.10"]},
     {user_dn_pattern,       "uid=${username},ou=people,dc=example,dc=com"},
     {use_ssl,               false},
     {port,                  389},
     {log,                   true},



     {tag_queries,           [{administrator, {constant, false}},
                              {management,    {constant, true}}]}
   ]
  }
].
