services:
  node1:
    build: ./raft
    container_name: raft-node1
    environment:
      - NODE_ID=1
      - PEERS=raft-node2:5002,raft-node3:5003
    networks: [raft-net]

  node2:
    build: ./raft
    container_name: raft-node2
    environment:
      - NODE_ID=2
      - PEERS=raft-node1:5001,raft-node3:5003
    networks: [raft-net]

  node3:
    build: ./raft
    container_name: raft-node3
    environment:
      - NODE_ID=3
      - PEERS=raft-node1:5001,raft-node2:5002
    networks: [raft-net]

networks:
  raft-net:

