[
    {rabbitmq_management,
     [
      {listener, [{port,     15671},
                  {ssl,      true},
                  {ssl_opts, [{cacertfile, "/tmp/ca.crt"},
                              {certfile,   "/tmp/tls.crt"},
                              {keyfile,    "/tmp/tls.key"}

                              %% don't do peer verification to HTTPS clients

                              ]}
                 ]}
     ]}
   ].
