[
    {rabbit, [
        {auth_backends, [rabbit_auth_backend_ldap]}
        ]},
    {rabbitmq_auth_backend_ldap, [
        {servers, ["172.18.0.2"]},
        {port, 1389},
        {user_dn_pattern, "cn=${username},ou=users,dc=example,dc=com"},
        {tag_queries, [
            {administrator, {constant, true}},
            {management, {constant, true}}
        ]},
        {log, network}
    ]}

].
