[
    {rabbit, [
        {auth_backends, [rabbit_auth_backend_ldap, rabbit_auth_backend_internal]}
        ]},

    {rabbitmq_auth_backend_ldap, [
        {servers, ["10.1.1.1"]},
        {port, 389},
        {user_dn_pattern, "uid=${username},ou=People,dc=example,dc=com"},

        {tag_queries, [
            {administrator,     {in_group, "cn=administrator,ou=dept1,dc=example,dc=com", "uniqueMember"}},
            {monitoring,     {in_group, "cn=monitoring,ou=dept1,dc=example,dc=com", "uniqueMember"}}
        ]},



%% ADD THIS SECTION TO RESTRICT QUEUE CREATION
        {resource_access_query,
         {for, [
            %% Only members of the 'administrator' group can CREATE or DELETE (configure)
            {permission, configure, 
                {in_group, "cn=administrator,ou=dept1,dc=example,dc=com", "uniqueMember"}},
            
            %% Allow both groups to Write (Publish) and Read (Consume)
            {permission, write, {constant, true}},
            {permission, read,  {constant, true}}
         ]}
        },


        {log, network}
    ]}

].
